.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    background: #121212;
    color: white;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #FFFFFF;
}
  
.logo img {
    height: 40px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav-links li {
    display: inline-block;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 0.875rem;
}

.nav-links a:hover {
    color: #1470AF;
    text-decoration: underline;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.login-btn {
    border: 2px solid #1470AF;
    color: #1470AF;
    padding: 8px 16px;
    font-size: 0.875rem;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    border-radius: 8px;
}

.login-btn:hover {
    background: #1470AF;
    color: white;
}

.hamburger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
}

.mobile-menu {
    position: absolute;
    top: 60px;
    right: 2rem;
    background: #1a1a1a;
    border: 1px solid #B9B9B9;
    width: 200px;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.mobile-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mobile-menu li {
    padding: 10px;
}

.mobile-menu a {
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
}

.mobile-menu a:hover {
    background: #1470AF;
    color: white;
    border-radius: 4px;
}


@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .hamburger {
        display: block;
    }
}